/*
	Custom Layouts
*/

.background {
	-fx-background-color: -fx-background;
}

.return_Button {
	-fx-background-radius: 100;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-color: transparent;
}

.return_Button:hover {
	-fx-background-color: derive(black, 50%);
}

.return_Button:armed {
	-fx-background-color: derive(black, 80%);
}

.continue_Button {
	-fx-background-radius: 100;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-color: transparent;
}

.continue_Button:hover {
	-fx-background-color: derive(-fx-accent, 50%);
}

.continue_Button:armed {
	-fx-background-color: derive(-fx-accent, 80%);
}

.select_Button {
    -fx-background-color: derive(-fx-accent, 50%);
    -fx-font-size: 40;
}

.select_Button:hover {
    -fx-background-color: derive(-fx-accent, 80%);
}

.select_Button:armed {
    -fx-background-color: derive(-fx-accent, 130%);
}

.title {
	-fx-font-size: 30;
}

.title_background {
	-fx-background-color: -fx-accent;
	-fx-padding: 10px;
}

/*
	Question Editor Pane
*/

.delete_button {
	-fx-background-color: -fx-background;
	-fx-padding: 0;
	-fx-background-insets: 0;
	-fx-graphic: url("/images/delete.png");
}

.delete_button:hover {
	-fx-graphic: url("/images/delete-red.png");
}

.delete_button:armed {
	-fx-graphic: url("/images/delete-black.png");
}

.pane-radio-button > .radio  {
   -fx-background-color: derive(-fx-accent, -50%);
   -fx-background-insets: 0;
   -fx-pref-height: 20px;
   -fx-pref-width: 20px;
}

.pane-radio-button:selected > .radio > .dot {
   -fx-background-color: -fx-background;
   -fx-background-insets: 0;
}

.question-split-pane:horizontal > .split-pane-divider {
	-fx-background-color: transparent, -fx-accent;
 }
