/*
	Default Layouts
*/

.label {
	-fx-font-size: 20px;
	-fx-text-fill: -fx-text-color;
}

.button {
	-fx-background-color: -fx-button-color;
	-fx-font-size: 30;
	-fx-text-fill: -fx-text-color;
}

.button:hover {
	-fx-background-color: -fx-hover-base;
}

/*
	Custom Layouts
*/

.background {
	-fx-background-color: -fx-background;
}

.return_Button {
	-fx-background-radius: 100;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-color: transparent;
	-fx-graphic: url("/images/return.png");
}

.return_Button:hover {
	-fx-background-color: derive(black, 50%);
}

.return_Button:armed {
	-fx-background-color: derive(black, 80%);
}

.continue_Button {
	-fx-background-radius: 100;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-color: transparent;
	-fx-graphic: url("/images/continue.png");
}

.continue_Button:hover {
	-fx-background-color: derive(-fx-accent, 50%);
}

.continue_Button:armed {
	-fx-background-color: derive(-fx-accent, 80%);
}

.title {
	-fx-font-size: 30;
}

.title_background {
	-fx-background-color: -fx-accent;
	-fx-padding: 10px;
}

.big {
	-fx-text-fill: -fx-text-color;
	-fx-font-weight: bold;
	-fx-font-size: 40px;
}

.rf {
	-fx-background-radius: 100%;
	-fx-padding: 20px; 
	-fx-background-color: -fx-background;
}

.rf:hover {
	-fx-background-color: white;
}
