/*
	Default Layouts
*/

.label {
	-fx-font-size: 20px;
	-fx-text-fill: -fx-text-color;
}

.button {
	-fx-background-color: -fx-button-color;
	-fx-font-size: 30;
	-fx-text-fill: -fx-text-color;
}

.button:hover {
	-fx-background-color: -fx-hover-base;
}

/*
	Custom Layouts
*/

.background {
	-fx-background-color: -fx-background;
}

.controll_Button {
	-fx-background-color: derive(-fx-button-color,-40%);
	-fx-font-size: 15px;
	-fx-text-fill: -fx-text-color;
}

.title {
	-fx-font-size: 30;
}

.title_background {
	-fx-background-color: -fx-accent;
	-fx-padding: 10px;
}

.big {
	-fx-text-fill: -fx-text-color;
	-fx-font-weight: bold;
	-fx-font-size: 40px;
}

.rf {
	-fx-background-radius: 100%;
	-fx-padding: 20px; 
	-fx-background-color: -fx-background;
}

.rf:hover {
	-fx-background-color: white;
}

.timer_button {
    -fx-background-color: #ccc;
    -fx-text-fill: black;
}

.timer_background{
-fx-background-color: #eee;
}

.timer_label{
    -fx-font-size: 30pt;
    -fx-text-fill: black;
}
